:root {
  /* Heading sizes */
  --font-h1: 1.476rem;
  --font-h2: 1.383rem;
  --font-h3: 1.296rem;
  --font-h4: 1.215rem;
  --font-h5: 1.138rem;
  --font-h6: 1.067rem;

  /* Paragraph and small text */
  --font-p: 1rem;
  --font-small: 0.937rem;
  --font-xsmall: 0.878rem;
}
