---
import Avatar from "./avatar.astro";
import HeaderTitle from "./header-title.astro";
import HeaderLinks from "./header-links.astro";
---

<header class="header-container">
  <div class="profile">
    <Avatar />
    <HeaderTitle title="Santiago Delebecq" subtitle="Programador " />
    <div class="profile-main">
      <HeaderLinks />
    </div>
  </div>
</header>
<style is:inline>
  .header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    & .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      & .principal-info {
        display: flex;
        flex-direction: column;
      }
      & .social-media-links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
        margin-top: 4px;
        padding: 0;
        & .social-media-link {
          width: 24px;
          height: 24px;
          transition: transform 0.2s ease;
        }
        & .social-media-link:hover {
          transform: scale(1.1);
        }
      }
    }
  }
</style>
