---
const { title, subtitle } = Astro.props;
---

<div class="principal-info">
  <span class="title">{title}</span>
  <span class="subtitle">{subtitle}</span>
</div>
<style>
  .title {
    font-size: var(--font-h1);
    font-weight: bold;
  }
  .subtitle {
    font-size: var(--font-h2);
  }
</style>
