---
import Header from "@components/header/header.astro";
import Contacts from "@components/contacts.astro";
---

<div class="app-container">
  <Header />
  <main>
    <Contacts />
  </main>
</div>
<style>
  .app-container {
    width: 580px;
    max-width: 580px;
    height: auto;
    display: flex;
    gap:16px;
    flex-direction: column;
    text-align: center;
    background: #121212;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 4px 12px;
    color: #e0e0e0;
    padding: 16px;
    border-radius: 8px;
  }
</style>
