---
import Header from "./header/header.astro";
---

<div class="app-container">
  <Header />
  <main></main>
</div>
<style>
  .app-container {
    width: 580px;
    max-width: 580px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: gray;
    padding: 16px;
    border-radius: 8px;
  }
</style>
