---
import { sections } from "@mockups/sections";
---

<ul class="links-list">
  {
    sections.map((section) => (
        <h3>{section.title}</h3> 
      <li class="link-item">
        <a href={section.href} target="_blank" rel="noopener noreferrer">
          {section.text}
        </a>
      </li>
    ))
  }
  <span>📩 santiidele21@gmail.com</span>
</ul>
<style>
  .links-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 100;
    cursor: pointer;

  } 
  .link-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(36, 55, 71, 0.377);
    padding: 1rem;
    border-radius: 6px;
    transition: .3s all ease;
    z-index: 1000;


  }
  .link-item h4 {
    margin: 0 0 0.5rem 0;
    font-size: 1.1rem;
    color: #fff;
  }
  .link-item a {
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    
  }
  .link-item:hover {
    background: rgba(36, 55, 71, 0.541);


  }
</style>
